<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width initial-scale=1">
    <meta name="baidu-site-verification" content="FWqtjykbnm" />
    <title>北京恒正精机科技有限责任公司</title>
    <meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">

    <!--  <link rel="stylesheet" href="/css/main.css">-->
    <link href="css/magic-bootstrap-min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/modern-business.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!--
<link rel="canonical" href="http://megagear.cn/products.html">
<link rel="alternate" type="application/atom+xml" title="北京恒正精机科技有限责任公司" href="http://megagear.cn/feed.xml" />
-->
    <style type="text/css">
        html,body{margin:0;padding:0;}
        .iw_poi_title {color:#CC5522;font-size:14px;font-weight:bold;overflow:hidden;padding-right:13px;white-space:nowrap}
        .iw_poi_content {font:12px arial,sans-serif;overflow:visible;padding-top:4px;white-space:-moz-pre-wrap;word-wrap:break-word}
    </style>

    <script src="js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</head>


  <body>
      <div class="container bg-white" style="padding-bottom: 20px">
        <a href="index.html"><img src="image/logo-title.png" height="50px" style="margin-top:10px; margin-bottom:20px"></a>
<a href="http://qiye.163.com/login/?from=ym" class="hide-email"></a>
            <nav class="navbar navbar-default  shadow-bottom" role="navigation">
                <div >
                    <!-- Brand and toggle get grouped for better mobile display -->

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div id="bs-example-navbar-collapse-1" >
                        <ul class="nav navbar-nav " >
                            <li>
                                <a href="index.html">主页</a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">关于恒正 <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="about.html">公司简介</a>
                                    </li>
                                    <li>
                                        <a href="services.html">业务范围</a>
                                    </li>
                                  
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="about.html" class="dropdown-toggle" data-toggle="dropdown">产品系列 <b class="caret"></b></a>
                                <ul class="dropdown-menu">

                                    <li >
                                        <a href="products.html">机器人选型指南</a>
                                    </li>
                                    <li>
                                        <a href="hydraulics.html">液压设备与系统</a>
                                    </li>
                                    <li>
                                        <a href="han.html">汉系列机器人</a>
                                    </li>
                                    
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="services.html" class="dropdown-toggle" data-toggle="dropdown">客户服务中心 <b class="caret"></b></a>
                                <ul class="dropdown-menu">
<!--
                                    <li>
                                        <a href="portfolio-1-col.html">系统解决方案</a>
                                    </li>
-->
                                    <li>
                                        <a href="training.html">工业机器人培训</a>
                                    </li>
                                     <li>
                                        <a href="repair.html">工业机器人维修</a>
                                    </li>
<!--
                                    <li>
                                        <a href="portfolio-3-col.html">工业机器人租赁</a>
                                    </li>
                                    <li>
                                        <a href="portfolio-4-col.html">工业机器人维护维修</a>
                                    </li>
                                    <li>
                                        <a href="portfolio-item.html">二手工业机器人销售</a>
                                    </li>
-->
                                    
                                </ul>
                            </li>
                            <li >
                                <a href="systems.html" >系统解决方案 </a>
<!--
                                <ul class="dropdown-menu">
                                    <li class="page-scroll">
                                        <a href="systems.html#minbao">民爆行业</a>
                                    </li>
                                    <li class="page-scroll">
                                        <a href="systems.html#zhuangpei">自动化装配</a>
                                    </li>
                                    <li>
                                        <a href="portfolio-3-col.html">拧紧螺钉</a>
                                    </li>
                                    <li>
                                        <a href="portfolio-4-col.html">喷涂系统</a>
                                    </li>
                                    <li>
                                        <a href="portfolio-item.html">包装分拣码垛</a>
                                    </li>
                                     <li>
                                        <a href="portfolio-item.html">高校实验平台</a>
                                    </li>
                                </ul>
-->
                            </li>
                            <li class="dropdown">
                                <a href="career.html" >加入恒正 </a>
<!--
                                <a href="about.html" class="dropdown-toggle" data-toggle="dropdown">职业发展 <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="portfolio-1-col.html">1 Column Portfolio</a>
                                    </li>
                                    <li>
                                        <a href="portfolio-2-col.html">2 Column Portfolio</a>
                                    </li>
                                    <li>
                                        <a href="portfolio-3-col.html">3 Column Portfolio</a>
                                    </li>
                                    <li>
                                        <a href="portfolio-4-col.html">4 Column Portfolio</a>
                                    </li>
                                    <li>
                                        <a href="portfolio-item.html">Single Portfolio Item</a>
                                    </li>
                                </ul>
-->
                            </li>
                            <li >
                                <a href="contact.html" >联系我们</a>

                            </li>

                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
            </nav>



        <script src="js/angular.min.js"></script>
<script src="js/angular-animate.min.js"></script>
<script src="js/ui-bootstrap-tpls-0.12.0.min.js"></script>
<script src="js/robotData2.js"></script>
<script src="js/searchRobot.js"></script>
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header" style="margin-top:10px">机器人选型指南</h2>    
    </div>
</div>
<div ng-app="robotsApp" style="margin-left:10px; margin-right:10px;">
    <div ng-controller="searchRobotCtrl">
        <form class="form-inline" role="form">
            <div class="form-group">
                <label >品牌</label>
                <div class="btn-group">
                    <label class="btn btn-default " ng-repeat="brand in search.brands" ng-model="brand.selected" btn-checkbox>{(brand.name)}</label>
                </div>
            </div>
            <div class="form-group">
                <div class="vsplitter">
                </div>
            </div>
            <div class="form-group">                     
                <label >荷重 &ge;</label>
                <input class="form-control smallTxt" ng-model="search.load">
                <label >kg</label>    
            </div>
            <div class="form-group">
                <div class="vsplitter">
                </div>
            </div>
            <div class="form-group">                     
                <label >工作范围 &ge;</label>
                <input class="form-control smallTxt" ng-model="search.reach">
                <label >m</label>    
            </div>
             <div class="form-group">
                <div class="vsplitter">
                </div>
            </div>
            <div class="form-group">                     
                <label >重复定位精度 &le;</label>
                <input class="form-control smallTxt" ng-model="search.precision">
                <label >mm</label>    
            </div>
            
        </form>
        <br>
         <form class="form-inline" role="form">
            <div class="form-group">
                <label>应用范围</label>
                <div class="btn-group">
                    <label class="btn btn-default vspacer" ng-repeat="app in search.appOptions" ng-model="app.selected" btn-checkbox>{(app.name)}</label>
                </div>
            </div>
           
        </form>
<!--
        <form>
            <button type="button" class="btn btn-success">搜索</button>
        </form>
-->
        <div class="spacer">
        </div>
        <div class="row">
            <div ng-repeat="robot in robots | robotFilter:search" class="animate col-lg-6 col-md-6 col-sm-12 robot-card-container " >
                <div class="robot-card">
                    <div style="float:left; height:130px">
                        <img src="image/robots{(robot.image)}" class="robot-img" >
                    </div>

                    <div class="relative">
                        <div style="float:left; margin-right:20px;"><span class="bold">品牌：</span>{(robot.brand)}</div>
                        <div ><span class="bold">型号：</span> {(robot.model)}</div>

                        <div><span class="bold">荷重：</span>{(robot.load)}kg</div>
                        <div><span class="bold">工作范围：</span>{(robot.reach)}m</div>
                        <div><span class="bold">重复定位精度(RP)：</span>{(robot.precision)}mm</div>
                        <div><span class="bold">主要应用：</span>{(robot.applicationFull)}</div>
                    </div>

                </div>

            </div>
        </div>

    </div>
</div>


        <footer class="site-footer">
  <div> ©2011 HENG ZHENG ROBOTICS 版权所有 ICP证：京ICP备 12001335 号 </div>
</footer>

      </div>
  </body>

</html>
