<a href="index.html"><img src="image/logo-title.png" height="50px" style="margin-top:10px; margin-bottom:20px"></a>
            <nav class="navbar navbar-default  shadow-bottom" role="navigation">
                <div >
                    <!-- Brand and toggle get grouped for better mobile display -->

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div id="bs-example-navbar-collapse-1" >
                        <ul class="nav navbar-nav " >
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">关于恒正 <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="about.html">公司简介</a>
                                    </li>
                                    <li>
                                        <a href="services.html">业务范围</a>
                                    </li>
                                  
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="about.html" class="dropdown-toggle" data-toggle="dropdown">产品系列 <b class="caret"></b></a>
                                <ul class="dropdown-menu">

                                    <li >
                                        <a href="products.html">机器人选型指南</a>
                                    </li>
                                    <li>
                                        <a href="hydraulics.html">液压设备与系统</a>
                                    </li>
                                    
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="services.html" class="dropdown-toggle" data-toggle="dropdown">客户服务中心 <b class="caret"></b></a>
                                <ul class="dropdown-menu">
<!--
                                    <li>
                                        <a href="portfolio-1-col.html">系统解决方案</a>
                                    </li>
-->
                                    <li>
                                        <a href="training.html">工业机器人培训</a>
                                    </li>
<!--
                                    <li>
                                        <a href="portfolio-3-col.html">工业机器人租赁</a>
                                    </li>
                                    <li>
                                        <a href="portfolio-4-col.html">工业机器人维护维修</a>
                                    </li>
                                    <li>
                                        <a href="portfolio-item.html">二手工业机器人销售</a>
                                    </li>
-->
                                    
                                </ul>
                            </li>
                            <li >
                                <a href="systems.html" >系统解决方案 </a>
<!--
                                <ul class="dropdown-menu">
                                    <li class="page-scroll">
                                        <a href="systems.html#minbao">民爆行业</a>
                                    </li>
                                    <li class="page-scroll">
                                        <a href="systems.html#zhuangpei">自动化装配</a>
                                    </li>
                                    <li>
                                        <a href="portfolio-3-col.html">拧紧螺钉</a>
                                    </li>
                                    <li>
                                        <a href="portfolio-4-col.html">喷涂系统</a>
                                    </li>
                                    <li>
                                        <a href="portfolio-item.html">包装分拣码垛</a>
                                    </li>
                                     <li>
                                        <a href="portfolio-item.html">高校实验平台</a>
                                    </li>
                                </ul>
-->
                            </li>
                            <li class="dropdown">
                                <a href="career.html" >职业发展 </a>
<!--
                                <a href="about.html" class="dropdown-toggle" data-toggle="dropdown">职业发展 <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="portfolio-1-col.html">1 Column Portfolio</a>
                                    </li>
                                    <li>
                                        <a href="portfolio-2-col.html">2 Column Portfolio</a>
                                    </li>
                                    <li>
                                        <a href="portfolio-3-col.html">3 Column Portfolio</a>
                                    </li>
                                    <li>
                                        <a href="portfolio-4-col.html">4 Column Portfolio</a>
                                    </li>
                                    <li>
                                        <a href="portfolio-item.html">Single Portfolio Item</a>
                                    </li>
                                </ul>
-->
                            </li>
                            <li >
                                <a href="contact.html" >联系我们</a>

                            </li>

                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
            </nav>
